# Build artefacts
artefacts/
openssl-3.5.2/
openssl-3.5.2.tar.gz

# Certificates and keys
*.csr
*.key
*.crt
*.der
ejbca-rest-python/ManagementCA.pem
ejbca-rest-python/valentin-admin.*

# Python environment and IDE files
.venv/
.idea/
.cache_ggshield

# Documentation
README.html

# Runtime
*.response